@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist-mono";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: oklch(0.985 0.001 106.423); /* Stone-50 */
    --foreground: oklch(0.145 0.004 49.632); /* Stone-950 */
    --card: oklch(0.985 0.001 106.423);
    --card-foreground: oklch(0.145 0.004 49.632);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0.004 49.632);
    --primary: oklch(0.769 0.188 70); /* Amber-500 */
    --primary-foreground: oklch(0.205 0.004 49.632); /* Stone-900 */
    --secondary: oklch(0.922 0.002 106.423); /* Stone-200 */
    --secondary-foreground: oklch(0.205 0.004 49.632);
    --muted: oklch(0.92 0.001 106.423);
    --muted-foreground: oklch(0.556 0.004 49.632);
    --accent: oklch(0.92 0.001 106.423);
    --accent-foreground: oklch(0.205 0.004 49.632);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.87 0.003 106.423); /* Stone-300 */
    --input: oklch(0.87 0.003 106.423);
    --ring: oklch(0.708 0.005 106.423);
    --radius: 0.5rem;

    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.145 0.004 49.632);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: oklch(0.922 0.002 106.423);
    --sidebar-accent-foreground: var(--primary);
    --sidebar-border: oklch(0.87 0.003 106.423);
    --sidebar-ring: oklch(0.708 0.005 106.423);
}

.dark {
    --background: oklch(0.145 0.004 49.632); /* Stone-950 */
    --foreground: oklch(0.985 0.001 106.423); /* Stone-50 */
    --card: oklch(0.145 0.004 49.632);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.145 0.004 49.632);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.769 0.188 70); /* Amber-500 */
    --primary-foreground: oklch(0.145 0.004 49.632);
    --secondary: oklch(0.269 0.004 49.632); /* Stone-800 */
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.269 0.004 49.632);
    --muted-foreground: oklch(0.708 0.005 106.423);
    --accent: oklch(0.269 0.004 49.632);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.985 0.001 106.423);
    --border: oklch(0.269 0.004 49.632);
    --input: oklch(0.269 0.004 49.632);
    --ring: oklch(0.439 0.005 106.423);

    --sidebar: oklch(0.145 0.004 49.632);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: oklch(0.269 0.004 49.632);
    --sidebar-accent-foreground: var(--primary);
    --sidebar-border: oklch(0.269 0.004 49.632);
    --sidebar-ring: oklch(0.439 0.005 106.423);
}

@theme inline {
    --font-mono: 'Geist Mono Variable', monospace;
    
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}